//- For Jade language reference, see <http://jade-lang.com/reference/>
section
  h1= title
  h2.grey= description
  h2= author
section
  h2 Target audience
  div.left
    img(src='img/at-school.jpg')
  div.right
    ul
      li Victims of abuse
      li Parents of school children
      li With an Android smartphone
      li Whose abuser lets them play games
  p(style='clear:both') A significant subset of abuse victims
section
  h2 Considerations
  div.left
    img(src='img/broken-mirror.jpg')
  div.right
    ul
      li Abuser monitors phone activity
      li Any app could raise suspicion
      li Must be easy to hide and hard to find
      li How to get word out to victims?
section
  h2 Word-of-mouth network
  img.smallish(src='img/playground.jpg')
  p Existing support network: schools &amp; children's centres
section.with-mockup
  div.left
    h2 A popular open-source game
    h3 2048
  div.right
    div.marvel-device.htc-one
      div.top-bar
      div.camera
      div.sensor
      div.speaker
      div.screen
        iframe(src='https://gabrielecirulli.github.io/2048/')
section.with-mockup
  div.left
    h2 Other examples
    ul
      li Frozen Bubble
      li GLTron
      li Fish Fillets
      li Simon Tatham's puzzles
  div.right
    div.marvel-device.htc-one
      div.top-bar
      div.camera
      div.sensor
      div.speaker
      div.screen
        img(src='img/frozen-bubble.jpg')
section
  h2 Custom app looks identical
  img.large(src='img/app.jpg')
section
  h2 Secret code
  img.large(src='img/secret.jpg')
section.with-mockup
  div.left
    h2 Crisis dashboard
    p Semi-functional mockup
  div.right
    div.marvel-device.htc-one
      div.top-bar
      div.camera
      div.sensor
      div.speaker
      div.screen
        iframe(src='dashboard/index.html')
section
  h2 Reported to front-line services
  img(src='img/council-view.jpg')
section
  h2 Data collected for triage
  h3 and analysis
  img.smallish(src='img/graph.jpg')
section
  h2 Abuser demands to see device:
  h3 Lock screen...
  img(src='img/locked.jpg')
section.with-mockup
  div.left
    h2 It's just a game
  div.right
    div.marvel-device.htc-one
      div.top-bar
      div.camera
      div.sensor
      div.speaker
      div.screen
        iframe(src='https://gabrielecirulli.github.io/2048/')
section
  h2 Future features
  h3 could include...
  ul
    li.fragment Online drop box for scanned documents
    li.fragment Safety plan creator
    li.fragment Chat with helplines
    li.fragment FAQ about (e.g.) what happens to children
section
  h2 Other alert triggers
  img.smallish(src='img/chapstick.jpg')
  p IoT alert devices in innocuous objects
section
  img.end(src='img/the_end.svg')
